body{
  margin:0;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.main-home{
  position:relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.main-home h1{
  text-align:center;
  font-size: 4rem;
  padding:64px;
  padding-top:160px;
  margin:16px;
  z-index: 1;
  color:antiquewhite;
  
}


.video-container{
  position:absolute;
  top:0;
  left:0;
  width:100%;
}

.main-main{
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  background-color: #efefef;
  width: 100vw;
  min-height:100vh;
  height: 100%;
}

.h1-main{
  margin-left:14%;
  font-weight: bold;
  padding:24px;
  font-size: 64px;
  color:#b5b5b5;
  text-shadow: 2px 2px #000 ;
}

.title-image{
  margin-left: 32px;
}

.imagen-card{
  height:auto;
  max-width: 100%;
  height:200px;
}

.tamaño-h6{
  font-size: 14px;
  font-weight: 200;
  margin:8px;
}

.switch{
  width:56px;
  height:16px;
  background-color:rgba(255,255,255,0.4);
  display:flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 50px;
  padding:10px;
  cursor:pointer;
}

.switch[data-isOn="true"]{
  justify-content: flex-end;
}

.handle{
  width:30px;
  height:30px;
  background-color:white;
  border-radius: 40px;
}

.css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root{
  visibility: hidden;
}

.pending-list{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap
}

.pending-list span{
  margin:10px;
  font-style: italic;
  font-size: 14px;
  font-weight: bold;
}

.pending-title{
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-left:24px;
  margin-bottom:24px;
}

.ul-top{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-inline-start: 0px;
}

.li-top{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;
  margin:4px;
}

.span-top{
  margin-left: 8px;
  padding:6px;
  background-color: #c5efc5;
  border: 1px solid green;
  border-radius: 50% ;
  color: #dd9d09;
}

